<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>ejs-mock admin</title>
<link rel="stylesheet" href="./js/CodeMirror-5.28.0/lib/codemirror.css">
<link rel="stylesheet" href="./js/CodeMirror-5.28.0/theme/material.css">
<link rel="stylesheet" href="./js/CodeMirror-5.28.0/theme/eclipse.css">
<link rel="stylesheet" href="./css/index.css">
<head>
<body>
  <div id="app">
    <div class="mocks">
      <div class="add-mock btn-success" @click="addMock">Add Mock</div>
      <div :title="mock.url" :class="['item', {'on': mock.name == curMock.name}]" v-for="mock in list" :key="mock.name" @click="switchMock(mock)">
        <div class="name">{{mock.name}}</div>
        <div class="url">{{mock.url}}</div>
      </div>
    </div>
    <div class="options">
      <div class="add-option btn-success" @click="addOption">Add Option</div>
      <template v-for="option in curMock.responseOptionsList" v-key="option.key">
        <div :class="['item', {'on': option.key == curOption.key}]" @click="switchMockData(curMock, option)">
          <div class="key">{{option.key}}</div>
          <div class="desc">{{option.desc}}</div>
          <div class="path">{{option.path}}</div>
        </div>
      </template>
    </div>
    <div class="panel">
      <div class="menus">
        <div class="btn btn-default" @click="switchView('mock')" v-show="view !== 'mock'">Back</div>
        <div class="btn btn-success" @click="saveTemplate" v-show="view === 'template'">Save option template</div>
        <div class="btn btn-info" @click="switchView('template')" v-show="view !== 'template'">Show option template</div>
        <div class="btn btn-info" @click="showData" v-show="view !== 'result'">Show response data</div>
        <a class="btn btn-info" :href="curMock.url" target="_blank">Open in browser</a>
      </div>
      <div :class="['result', {'on': view === 'result'}]">
        <div class="result-btns">
          <div class="query">
            <label>?</label>
            <div class="input-wrap">
              <input type="text" v-model="query"/>
            </div>
          </div>
          <div class="refresh btn-info" @click="showData">Refresh result</div>
        </div>
        <textarea id="editor2"></textarea>
      </div>
      <div :class="['mock-detail', {'on': view === 'mock'}]">
        <div class="item">
          <div class="tit">name</div>
          <div class="con" style="background: #ddd;"><input style="background: #ddd;" type="text" :value="curMock.name" readonly/></div>
        </div>
        <div class="item">
          <div class="tit">describe</div>
          <div class="con"><input type="text" v-model="curMock.describe"/></div>
        </div>
        <div class="item">
          <div class="tit">url</div>
          <div class="con"><input type="text" v-model="curMock.url"/></div>
        </div>
        <div class="item">
          <div class="tit">method</div>
          <div class="con"><input type="text" v-model="curMock.method"/></div>
        </div>
        <div class="item">
          <div class="tit">dataType</div>
          <div class="con"><input type="text" v-model="curMock.dataType"/></div>
        </div>
        <div class="item">
          <div class="tit"></div>
          <div class="save btn-success">Save</div>
        </div>
      </div>
      <div :class="['template', {'on': view === 'template'}]">
        <textarea id="editor1"></textarea>
      </div>
    </div>
  </div>
<script src="./js/jquery.js"></script>
<script src="./js/vue.js"></script>
<script src="./js/CodeMirror-5.28.0/lib/codemirror.js"></script>
<script src="./js/CodeMirror-5.28.0/mode/javascript/javascript.js"></script>
<script src="./js/index.js"></script>
</body>
</html>
