*{
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#app{
  position: absolute;
  border-top: 2px solid #5acc42;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.mocks{
  width: 240px;
  border-right: 1px solid #ddd;
  position: absolute;
  background: #f5f5f5;
  top: 0;
  left: 0;
  bottom: 0;
}
.mocks .add-mock{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  padding-right: 10px;
  text-align: center;
}
.mocks .item{
  margin-top: 10px;
  margin-left: 10px;
  color: #444;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  padding-right: 10px;
  cursor: pointer;
  padding-left: 20px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  background: #fff;
  font-size: 18px;
}
.mocks .item span{
  font-size: 12px;
  color: #999;
  margin-left: 10px;
}
.mocks .item:hover{
  border: 1px solid #449d44;
  border-right: 0px;
}
.mocks .item.on{
  background: #fff;
  color: #449d44;
  border: 1px solid #449d44;
  border-right: 0px;
  position: relative;
  z-index: 2;
}
.options{
  position: absolute;
  width: 302px;
  padding: 0 10px;
  top: 0px;
  left: 241px;
  bottom: 0;
  border-right: 1px solid #ddd;
}
.options .add-option{
  margin-top: 10px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  padding-right: 10px;
  font-size: 14px;
  text-align: center;
}
.options .add-option:hover{
  border: 1px solid #449d44;
}
.options .item{
  width: 300px;
  border: 1px solid #ddd;
  cursor: pointer;
  line-height: 30px;
  margin-top: 10px;
  position: relative;
  transition: all ease .2s;
}
.options .item:hover{
  border: 1px solid #449d44;
}
.options .item .key{
  padding:0 10px;
  font-weight: 700;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
}
.options .item .path{
  padding:0 10px;
  color: #999;
  background: #f6f6f6;
}
.options .item .desc{
  padding:0 10px;
}
.options .item.on{
  border-color: #449d44;
  background: #fff;
  transform: scale(.98);
}
.options .item.on .key{
  color: #449d44;
  border-bottom: 1px solid #449d44;
  text-align: left;
}

.panel{
  position: absolute;
  top: 0px;
  left: 564px;
  right: 0;
  bottom: 0;
}
.menus{
  height: 50px;
  display: flex;
  align-items: center;
  background: #f5f5f5;
  border-bottom: 1px solid #ddd;
}
.menus .btn{
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  font-size: 14px;
  margin-left: 10px;
}

.template,
.mock-detail,
.result{
  position: absolute;
  top: 51px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f5f5f5;
  visibility: hidden;
}
.template.on,
.mock-detail.on,
.result.on{
  visibility: visible;
}

.mock-detail .item{
  display: flex;
  padding-left: 20px;
  margin-top: 10px;
}
.mock-detail .tit{
  width: 100px;
  height: 28px;
  line-height: 28px;
  font-size: 18px;
}
.mock-detail .con{
  height: 28px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  width: 300px;
  border: 1px solid #ddd;
  background: #fff;
}
.mock-detail input{
  height: 20px;
  border: 0px;
  width: 90%;
  outline: none;
  font-size: 16px;
  color: #888;
}
.mock-detail .save{
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  font-size: 14px;
}

.btn-success{
  border: 1px solid #4cae4c;
  background: #5cb85c;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease .2s;
}
.btn-success:hover{
  background-color: #449d44;
  border-color: #398439;
}

.btn-info{
  border: 1px solid #46b8da;
  background: #5bc0de;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease .2s;
}
.btn-info:hover{
  background-color: #31b0d5;
  border-color: #269abc;
}

.btn-default{
  border: 1px solid #ccc;
  background: #fff;
  color: #444;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease .2s;
}
.btn-default:hover{
  background-color: #e6e6e6;
  border-color: #adadad;
}

.CodeMirror{
  height: 100%;
}
.CodeMirror *{
  font-family: Courier New, Courier, monospace;
}