*{
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#app{
  position: absolute;
  border-top: 2px solid #5acc42;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.mask-layer-enter-active {
  transition: all .3s ease;
}

.mask-layer-leave-active {
  transition: all .3s ease;
}

.mask-layer-enter,
.mask-layer-leave-active {
  opacity: 0;
}

.mocks{
  width: 240px;
  border-right: 1px solid #ddd;
  position: absolute;
  background: #f5f5f5;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
}
.mocks .add-mock{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  padding-right: 10px;
  text-align: center;
}
.mocks .item{
  margin-top: 10px;
  margin-left: 10px;
  color: #444;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  padding-right: 10px;
  cursor: pointer;
  padding-left: 20px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  background: #fff;
  font-size: 18px;
}
.mocks .item .name{
  line-height: 20px;
  height: 20px;
  padding-top: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mocks .item .url{
  font-size: 12px;
  color: #999;
  line-height: 12px;
  height: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mocks .item:hover{
  border: 1px solid #449d44;
  border-right: 0px;
}
.mocks .item.on{
  background: #fff;
  color: #449d44;
  border: 1px solid #449d44;
  border-right: 0px;
  position: relative;
  z-index: 2;
}
.options{
  position: absolute;
  width: 302px;
  padding: 0 10px;
  top: 0px;
  left: 241px;
  bottom: 0;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}
.options .add-option{
  margin-top: 10px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  padding-right: 10px;
  font-size: 14px;
  text-align: center;
}
.options .add-option:hover{
  border: 1px solid #449d44;
}
.options .item{
  width: 300px;
  border: 1px solid #ddd;
  cursor: pointer;
  line-height: 30px;
  margin-top: 10px;
  position: relative;
  transition: all ease .2s;
}
.options .item:hover{
  border: 1px solid #449d44;
}
.options .item .key{
  padding:0 10px;
  font-weight: 700;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
}
.options .item .path{
  padding:0 10px;
  color: #999;
  background: #f6f6f6;
}
.options .item .desc{
  padding:0 10px;
}
.options .item.on{
  border-color: #449d44;
  background: #fff;
  transform: scale(.98);
}
.options .item.on .key{
  color: #449d44;
  border-bottom: 1px solid #449d44;
  text-align: left;
}

.panel{
  position: absolute;
  top: 0px;
  left: 564px;
  right: 0;
  bottom: 0;
}
.menus{
  height: 50px;
  display: flex;
  align-items: center;
  background: #f5f5f5;
  border-bottom: 1px solid #ddd;
}
.menus .btn{
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  font-size: 14px;
  margin-left: 10px;
}

.template,
.mock-detail,
.result{
  position: absolute;
  top: 51px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f5f5f5;
  visibility: hidden;
}
.template.on,
.mock-detail.on,
.result.on{
  visibility: visible;
}

.result{
  top: 101px;
}
.result .result-btns{
  top: -50px;
  position: absolute;
  left: 0px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  background: #f5f5f5;
  border-bottom: 1px solid #ddd;
}
.result .query{
  width: 300px;
  height: 30px;
  display: flex;
  margin-left: 10px;
}
.result .query label{
  background: #eee;
  color: #666;
  text-align: center;
  height: 28px;
  width: 30px;
  line-height: 28px;
  border: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.result .query .input-wrap{
  height: 28px;
  padding-left: 5px;
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  border: 1px solid #ddd;
  background: #fff;
  border: 1px solid #ccc;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: 0px;
}
.result .query .input-wrap input{
  height: 20px;
  border: 0px;
  width: 90%;
  outline: none;
  font-size: 16px;
  color: #888;
}
.result .refresh{
  height: 28px;
  line-height: 28px;
  padding: 0 15px;
  font-size: 14px;
  margin-left: 10px;
}

.mock-detail .item{
  display: flex;
  padding-left: 20px;
  margin-top: 10px;
}
.mock-detail .tit{
  width: 100px;
  height: 28px;
  line-height: 28px;
  font-size: 18px;
}
.mock-detail .con{
  height: 28px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  width: 300px;
  border: 1px solid #ddd;
  background: #fff;
}
.mock-detail input{
  height: 20px;
  border: 0px;
  width: 90%;
  outline: none;
  font-size: 16px;
  color: #888;
}
.mock-detail .save{
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  font-size: 14px;
}

.btn-success{
  border: 1px solid #4cae4c;
  background: #5cb85c;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease .2s;
}
.btn-success:hover{
  background-color: #449d44;
  border-color: #398439;
}

.btn-info{
  border: 1px solid #46b8da;
  background: #5bc0de;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease .2s;
}
.btn-info:hover{
  background-color: #31b0d5;
  border-color: #269abc;
}

.btn-default{
  border: 1px solid #ccc;
  background: #fff;
  color: #444;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease .2s;
}
.btn-default:hover{
  background-color: #e6e6e6;
  border-color: #adadad;
}

.CodeMirror{
  height: 100%;
}
.CodeMirror *{
  font-family: Courier New, Courier, monospace;
}

.mask-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .7);
  z-index: 5;
}
.mask-con {
  flex: 0 0 auto;
  position: relative;
  background: #fff;
  padding: 0 60px 50px;
  border-radius: 2px;
}
.mask-close {
  position: absolute;
  right: 0;
  top: 0;
  color: #5cb85c;
  padding: 5px 12px;
  font-size: 21px;
  cursor: pointer;
}
.mock-form .title{
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}
.mock-form .item{
  display: flex;
  margin-top: 10px;
}
.mock-form .tit{
  width: 100px;
  height: 28px;
  line-height: 28px;
  font-size: 18px;
}
.mock-form .con{
  height: 28px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  width: 300px;
  border: 1px solid #ddd;
  background: #fff;
}
.mock-form input{
  height: 20px;
  border: 0px;
  width: 90%;
  outline: none;
  font-size: 16px;
}
.mock-form textarea {
  font-size: 16px;
}
.mock-form .btn-item{
  margin-top: 20px;
}
.mock-form .btn-success{
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  font-size: 14px;
  float: right;
}